---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=dnszone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","ip":"52.32.117.162","mx":[{"priority":"1","name":"aspmx.l.google.com"},{"priority":"5","name":"alt1.aspmx.l.google.com"},{"priority":"5","name":"alt2.aspmx.l.google.com"},{"priority":"10","name":"aspmx2.googlemail.com"},{"priority":"10","name":"aspmx3.googlemail.com"},{"priority":"10","name":"aspmx4.googlemail.com"},{"priority":"10","name":"aspmx5.googlemail.com"}],"arecord":["52.32.117.162"],"soa":{"nameserver":"ns1.first-ns.de","email":"postmaster@robot.first-ns.de","serial_number":"2015112000","refresh":"14400","retry":"1800","expire":"604800","min_ttl":"86400"},"nameservers":["ns1.first-ns.de.","robotns2.second-ns.de.","robotns3.second-ns.com."]}'
  recorded_at: Sat, 16 Jan 2016 10:36:54 GMT
recorded_with: VCR 3.0.1
