---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=geo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","ip":"52.32.117.162","geo_cc":"us","geo_country":"United States","geo_city":null,"geo_latitude":null,"geo_longitude":null}'
  recorded_at: Sat, 16 Jan 2016 10:36:56 GMT
recorded_with: VCR 3.0.1
