---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=hostname
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","ip":"52.32.117.162","basedomain":"ec2-52-32-117-162.us-west-2.compute.amazonaws.com","hostname":"ec2-52-32-117-162.us-west-2.compute.amazonaws.com"}'
  recorded_at: Sat, 16 Jan 2016 10:36:56 GMT
recorded_with: VCR 3.0.1
