---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&fullurl=https://whoapi.com/documentation&r=ranks
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","pr":"1","alexa_reach":"310078","alexa_popularity":"229302","alexa_linksin":"-1","email":null,"title":null}'
  recorded_at: Sat, 16 Jan 2016 10:37:02 GMT
recorded_with: VCR 3.0.1
