---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&fullurl=https://whoapi.com/documentation&r=screenshot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","full_size":"http:\/\/46.101.175.48\/tmp\/a4a53f3d9b5c16d17e31f9f86a44bf75.jpg","thumbnail":"http:\/\/46.101.175.48\/tmp\/a4a53f3d9b5c16d17e31f9f86a44bf75_th.jpg","expires":"2016-01-16
        11:38 GMT","size":"1024x5661"}'
  recorded_at: Sat, 16 Jan 2016 10:38:15 GMT
recorded_with: VCR 3.0.1
