---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=screenshot
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","full_size":"http:\/\/178.62.104.203\/tmp\/e0dddcfa02522f28ea79c5126a24882d.jpg","thumbnail":"http:\/\/178.62.104.203\/tmp\/e0dddcfa02522f28ea79c5126a24882d_th.jpg","expires":"2016-01-16
        11:38 GMT","size":"1096x4206"}'
  recorded_at: Sat, 16 Jan 2016 10:38:08 GMT
recorded_with: VCR 3.0.1
