---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=social
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","facebook_taken":"0","linkedin_taken":"1","twitter_taken":"0","tumblr_taken":"1","appstore_taken":"0","appstore_link":"-1"}'
  recorded_at: Sat, 16 Jan 2016 10:37:19 GMT
recorded_with: VCR 3.0.1
