---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=cert
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","certondomain":true,"category":"Private Organization","organization":"WhoAPI
        Inc.","street":"444 Castro street","city":"Mountain View","state":"California","postalcode":"94041","country":"US","other":["US","Delaware"],"issuer":"COMODO
        CA Limited","date_issued":"2016-01-11 00:00:00","date_expires":"2017-03-11
        23:59:59"}'
  recorded_at: Sat, 16 Jan 2016 10:37:20 GMT
recorded_with: VCR 3.0.1
