---
http_interactions:
- request:
    method: get
    uri: http://api.whoapi.com/?apikey=fake&domain=whoapi.com&r=whois
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"0","whois_server":"whois.publicdomainregistry.com","limit_hit":false,"registered":true,"premium":false,"domain_status":["clienttransferprohibited
        http:\/\/www.icann.org\/epp#clienttransferprohibited"],"date_created":"2011-02-14
        15:31:26","date_updated":"2015-11-20 13:01:03","date_expires":"2021-02-14
        00:00:00","contacts":[{"type":"registrar","name":"","organization":"PDR Ltd.
        d\/b\/a PublicDomainRegistry.com","full_address":"","street":"","city":"","zipcode":"","state":"","country":"","phone":"+1-2013775952","fax":"","email":"abuse-contact@publicdomainregistry.com"},{"type":"registrant","name":"Goran
        Duskic","organization":"WhoAPI Inc.","full_address":"Goran Duskic\nWhoAPI
        Inc.\n444 Castro Street   \n94041 Mountain View\nCalifornia\nUS","street":"444
        Castro Street","city":"Mountain View","zipcode":"94041","state":"California","country":"US","phone":"+1.6506918352","fax":"","email":"contact@whoapi.com"},{"type":"admin","name":"Goran
        Duskic","organization":"WhoAPI Inc.","full_address":"Goran Duskic\nWhoAPI
        Inc.\n444 Castro Street  \n94041 Mountain View\nCalifornia\nUS","street":"444
        Castro Street","city":"Mountain View","zipcode":"94041","state":"California","country":"US","phone":"+1.6506918352","fax":"","email":"contact@whoapi.com"},{"type":"tech","name":"Goran
        Duskic","organization":"WhoAPI Inc.","full_address":"Goran Duskic\nWhoAPI
        Inc.\n444 Castro Street  \n94041 Mountain View\nCalifornia\nUS","street":"444
        Castro Street","city":"Mountain View","zipcode":"94041","state":"California","country":"US","phone":"+1.6506918352","fax":"","email":"contact@whoapi.com"}],"nameservers":["ns1.first-ns.de","robotns2.second-ns.de","robotns3.second-ns.com"],"disclaimer":"The
        data in this whois database is provided to you for information purposes \nonly,
        that is, to assist you in obtaining information about or related to a \ndomain
        name registration record. We make this information available \"as is\",\nand
        do not guarantee its accuracy. By submitting a whois query, you agree \nthat
        you will use this data only for lawful purposes and that, under no \ncircumstances
        will you use this data to: \n(1) enable high volume, automated, electronic
        processes that stress or load \nthis whois database system providing you this
        information; or \n(2) allow, enable, or otherwise support the transmission
        of mass unsolicited, \ncommercial advertising or solicitations via direct
        mail, electronic mail, or \nby telephone. \nThe compilation, repackaging,
        dissemination or other use of this data is \nexpressly prohibited without
        prior written consent from us. The Registrar of \nrecord is PDR Ltd. d\/b\/a
        PublicDomainRegistry.com. \nWe reserve the right to modify these terms at
        any time. \nBy submitting this query, you agree to abide by these terms.","emails":["contact@whoapi.com","abuse-contact@publicdomainregistry.com"],"whois_raw":"Domain
        Name: WHOAPI.COM\nRegistry Domain ID: 1640154939_DOMAIN_COM-VRSN\nRegistrar
        WHOIS Server: whois.publicdomainregistry.com\nRegistrar URL: www.publicdomainregistry.com\nUpdated
        Date: 2015-11-20T13:01:03Z\nCreation Date: 2011-02-14T15:31:26Z\nRegistrar
        Registration Expiration Date: 2021-02-14T15:31:26Z\nRegistrar: PDR Ltd. d\/b\/a
        PublicDomainRegistry.com\nRegistrar IANA ID: 303\nDomain Status: clientTransferProhibited
        https:\/\/icann.org\/epp#clientTransferProhibited\nRegistry Registrant ID:
        \nRegistrant Name: Goran Duskic\nRegistrant Organization: WhoAPI Inc.\nRegistrant
        Street: 444 Castro Street   \nRegistrant City: Mountain View\nRegistrant State\/Province:
        California\nRegistrant Postal Code: 94041\nRegistrant Country: US\nRegistrant
        Phone: +1.6506918352\nRegistrant Phone Ext: \nRegistrant Fax: \nRegistrant
        Fax Ext: \nRegistrant Email: contact@whoapi.com\nRegistry Admin ID: \nAdmin
        Name: Goran Duskic\nAdmin Organization: WhoAPI Inc.\nAdmin Street: 444 Castro
        Street  \nAdmin City: Mountain View\nAdmin State\/Province: California\nAdmin
        Postal Code: 94041\nAdmin Country: US\nAdmin Phone: +1.6506918352\nAdmin Phone
        Ext: \nAdmin Fax: \nAdmin Fax Ext: \nAdmin Email: contact@whoapi.com\nRegistry
        Tech ID: \nTech Name: Goran Duskic\nTech Organization: WhoAPI Inc.\nTech Street:
        444 Castro Street  \nTech City: Mountain View\nTech State\/Province: California\nTech
        Postal Code: 94041\nTech Country: US\nTech Phone: +1.6506918352\nTech Phone
        Ext: \nTech Fax: \nTech Fax Ext: \nTech Email: contact@whoapi.com\nName Server:
        ns1.first-ns.de\nName Server: robotns2.second-ns.de\nName Server: robotns3.second-ns.com\nDNSSEC:Unsigned\nRegistrar
        Abuse Contact Email: abuse-contact@publicdomainregistry.com\nRegistrar Abuse
        Contact Phone: +1-2013775952\nURL of the ICANN WHOIS Data Problem Reporting
        System: http:\/\/wdprs.internic.net\/\n>>>Last update of WHOIS database: 2016-01-16T10:37:44+0000Z<<<\nFor
        more information on Whois status codes, please visit https:\/\/icann.org\/epp\n\nRegistration
        Service Provided By: WHOAPI INC.\n\nThe data in this whois database is provided
        to you for information purposes \nonly, that is, to assist you in obtaining
        information about or related to a \ndomain name registration record. We make
        this information available \"as is\",\nand do not guarantee its accuracy.
        By submitting a whois query, you agree \nthat you will use this data only
        for lawful purposes and that, under no \ncircumstances will you use this data
        to: \n(1) enable high volume, automated, electronic processes that stress
        or load \nthis whois database system providing you this information; or \n(2)
        allow, enable, or otherwise support the transmission of mass unsolicited,
        \ncommercial advertising or solicitations via direct mail, electronic mail,
        or \nby telephone. \nThe compilation, repackaging, dissemination or other
        use of this data is \nexpressly prohibited without prior written consent from
        us. The Registrar of \nrecord is PDR Ltd. d\/b\/a PublicDomainRegistry.com.
        \nWe reserve the right to modify these terms at any time. \nBy submitting
        this query, you agree to abide by these terms.\n\n\n","whois_raw_parent":"\nWhois
        Server Version 2.0\n\nDomain names in the .com and .net domains can now be
        registered\nwith many different competing registrars. Go to http:\/\/www.internic.net\nfor
        detailed information.\n\n   Domain Name: WHOAPI.COM\n   Registrar: PDR LTD.
        D\/B\/A PUBLICDOMAINREGISTRY.COM\n   Sponsoring Registrar IANA ID: 303\n   Whois
        Server: whois.PublicDomainRegistry.com\n   Referral URL: http:\/\/www.PublicDomainRegistry.com\n   Name
        Server: NS1.FIRST-NS.DE\n   Name Server: ROBOTNS2.SECOND-NS.DE\n   Name Server:
        ROBOTNS3.SECOND-NS.COM\n   Status: clientTransferProhibited http:\/\/www.icann.org\/epp#clientTransferProhibited\n   Updated
        Date: 17-dec-2013\n   Creation Date: 14-feb-2011\n   Expiration Date: 14-feb-2021\n\n>>>
        Last update of whois database: Sat, 16 Jan 2016 10:37:10 GMT <<<\n\nFor more
[...]
